@model IEnumerable<Blog>
@foreach (var item in Model)
{
    string url = $"/blog/{item.Alias}-{item.BlogId}.html";
    <div class="col-12 col-md-4 col-lg-4 col-custom mb-30">
        <div class="blog-lst">
            <div class="single-blog">
                <div class="blog-image">
                    <a class="d-block" href="@url">
                        <img src="@item.Image" alt="Blog Image" class="w-100">
                    </a>
                </div>
                <div class="blog-content">
                    <div class="blog-text">
                        <h4><a href="@url">@item.Title</a></h4>
                        <div class="blog-post-info">
                            <span><a href="@url">By @item.CreatedBy</a></span>
                            <span>@item.CreatedDate.Value.ToString("dd/MM/yyyy")</span>
                        </div>
                        <p>@item.Description.</p>
                        <a href="blog-details-fullwidth.html" class="readmore">Đọc Thêm <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}