@model DACN.Models.Car

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <h3 class="fw-bold mb-3">Sản phẩm</h3>
            <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                    <a href="#">
                        <i class="icon-home"></i>
                    </a>
                </li>

            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Xóa sản phẩm</div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Tên Xe:</label>
                            @Html.DisplayFor(Model => Model.CarName)
                        </div>
                      
                        <div class="form-group">
                            <label for="exampleInputPassword1">Ảnh:</label>
                            @Html.DisplayFor(Model => Model.Image)
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Giá:</label>
                            @Html.DisplayFor(Model => Model.Price)
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Giá giảm:</label>
                            @Html.DisplayFor(Model => Model.SalePrice)
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Biển Số:</label>
                            @Html.DisplayFor(Model => Model.LicensePlate)
                        </div>
                       
                        <div class="form-group">
                            <label for="exampleInputPassword1">Bán chạy:</label>
                            @Html.DisplayFor(Model => Model.IsSale)
                        </div>
                      
                        <div class="form-group">
                            <label for="exampleInputPassword1">Hiện:</label>
                            @Html.DisplayFor(Model => Model.IsActive)
                        </div>
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="CarId" />
                            <input type="submit" value="Xóa" class="btn btn-danger" /> |
                            <a asp-action="Index" class="btn btn-warning">Quay Lại</a>
                        </form>

                        <!-- /.card -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>